<% layout('layouts/boilerplate') %>
<div style="margin:30px;">
    <h3 style="color: green;">User Details</h3>
    <p>Username: <%=user[0].username%></p> 
    <p>Mobile: <%=user[0].contact%> </p> 
    <p>Email: <%=user[0].email%> </p> 
    
    <a href="/login/user/updateinfo/<%=user[0]._id%>"><button class="btn btn-info" style="display: inline;">Update</button></a>
    <a href=href="/login/user/changepassword/<%=user[0]._id%>"><button class="btn btn-secondary">Change Password</button></a>
    <form action="/login/user/delete_user/<%=user[0]._id%>/?_method=delete" method="post">
        <button class="btn btn-danger" style="margin-top:10px;">Delete user</button>
    </form>

    <%if (user[0].username=="admin"){%>
        <button style="margin-top:10px;"><a href="/login/user/admin/allusers">See all users</a></button>
    <% } %>
</div>
